---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Becoming a member | Cork Climbing club">
  <main>
    <section>
      <h1>Becoming a member</h1>
      <p>
        Cork Climbing Club is a club for climbers who are interested in
        traditional climbing. If you are interested in joining the club, please
        read the information below.
      </p>
    </section>
    <section>
      <h2>New Trad climber</h2>
      <div id="new-to-trad">
        <ul>
          <li>
            Complete an “Intro to Trad Climbing” course with John Healy or
            another climbing coach/guide within the last 6 months. Typical cost
            €100. Once you complete this course you will have an idea of what's
            involved in Trad Climbing and whether or not you'd like to proceed
            with Trad Climbing & club membership. The course will familiarise
            you with such things as - what a rack is - how gear is placed and
            removed - how to abseil safely, use of a prusik - how to belay
            safely in a trad environment, one and two ropes, posioning of
            belayer - being safe at the crag, crag awareness & equee - The
            arrangement and costs of this course will be borne by you
          </li>
          <li>
            Once this course has been completed then you will need to complete
            an indoor climbing & lead belaying assessment, these take place on
            the first Wednesday of each month at AWC between 7:30pm – 8:30pm,
            this is free of charge. Once you passes this indoor assessment & pay
            your membership fee you will be a member of the club
          </li>
        </ul>
      </div>
    </section>

    <section>
      <h2>Intermediate Trad Climber</h2>
      <div id="intermediate-trad">
        <ul>
          <li>
            Pass a skills assessment with John Healy or another climbing
            coach/guide within the last 6 months. The arrangement and costs of
            assessment will be borne by you. Typical cost €100
          </li>
          <li>
            Once this course has been completed then you will need to complete
            an indoor climbing & lead belaying assessment, these take place on
            the first Wednesday of each month at AWC between 7:30pm – 8:30pm,
            this is free of charge. Once you passes this indoor assessment & pay
            your membership fee you will be a member of the club
          </li>
        </ul>
      </div>
    </section>

    <section>
      <h2>Experienced Trad Climber</h2>
      <div id="experienced-trad">
        <ul>
          <li>
            Pass a skills assessment with John Healy or another climbing
            coach/guide within the last 12 months. The arrangement and costs of
            assessment will be borne by you. Typical cost €100.
            <span>OR</span>
            Be signed off/vouched for by 2 experienced club members
          </li>
          <li>
            Once either of the above have been completed then you will need to
            complete an indoor climbing & lead belaying assessment, these take
            place on the first Wednesday of each month at AWC between 7:30pm –
            8:30pm, this is free of charge. Once you passes this indoor
            assessment & pay your membership fee you will be a member of the
            club
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    text-align: left;
    padding-top: 150px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  p,
  li {
    color: rgba(113, 113, 113, 1);
    font-size: 1rem;
  }

  span {
    font-weight: bold;
  }

  li {
    margin-bottom: 1rem;
  }
</style>
