---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Becoming a member | Cork Climbing club">
  <main>
    <section>
      <h1>Becoming a member</h1>
      <p>
        If you are a beginner or novice your best way forward is to contact Awesome Walls
        Cork at <a href="https://www.awesomewalls.ie" target="_blank">awesomewalls.ie</a> or Aislinn Sunderland <a href="tel:+353868707551">+353 868707551</a> or Brian Bateson
        at <a href="https://www.climbit.ie" target="_blank">climbit.ie</a>, all run training courses on a regular basis.
      </p>
      <p>
        Applicants must be 18 years of age or older, they should be experienced indoor climbers (lead climb & belay). Applicants must also own
        their own harness, climbing shoes and belay plate.
      </p>
      <p>
        For applicants that are not experienced in outdoor Trad Climbing they must have completed an "Intro
        to Trad Climbing course" with an approved climbing coach in the last 12 months.
      </p>

      <p>
        For applicants that are Experienced Trad climbers they will have to complete a "Trad Skills Checks" check with a
        climbing coach in the last 12 months or be vouched for/signed off by two experienced Trad climbing
        club members.
      </p>
      <p>
        Once the "Intro to Trad Climbing Course" or "Trad Skills Checks" have been completed applicants should contact the
        club via email at <a href="mailto:corkclimbingclub@gmail.com">corkclimbingclub@gmail.com</a>, to arrange an indoor climbing & belaying assessment.
      </p>
      <p>
        Once the indoor climbing &amp; belaying assessment is completed & membership fee is paid then
        applicants will become members of the club.
      </p>
      <p>
        Membership year runs from 1st of November to 31st of October. We do not take new members from June to August.
      </p>
      <p>
        Annual subscription €63 (includes Mountaineering Ireland (MI) subscription of €38.00). Under 26's annual fee is €49 (incl MI sub of €24). If you are already a member of MI the club annual
        subscription is €25.00.
      </p>
    </section>
  </main>
</Layout>

<style>
  main {
    text-align: left;
    padding-top: 150px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  p,
  li {
    color: rgba(113, 113, 113, 1);
    font-size: 1rem;
  }

  span {
    font-weight: bold;
  }

  li {
    margin-bottom: 1rem;
  }
</style>
