---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cork Climbing club">
  <main>
    <p>
      This section is still a work in progress, check back soon
    </p>
  </main>
</Layout>

<style>
  p {
    padding-top: 180px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
</style>
