---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cork Climbing club">
  <main>
    <p>
      The new Cork Climbing Club website is under construction. Please check
      back soon.<br />Meanwhile, you can contact us at:
      <a href="mailto:corkclimbingclub@gmail.com">corkclimbingclub@gmail.com</a>
    </p>
  </main>
</Layout>

<style></style>
