---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallery">
  <div style="padding-top: 94px; padding-left: 1rem; padding-right: 1rem;">
    <!-- LightWidget WIDGET - To change the settings of the widget go to https://lightwidget.com -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"
    ></script><iframe
      src="https://cdn.lightwidget.com/widgets/07b513e85eac542d8a50072a373090a3.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget"
      style="width:100%;border:0;overflow:hidden;"></iframe>
  </div>
</Layout>
