---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import CCCLogo from "../images/ccc-logo.webp";
---

<Layout title="Cork Climbing club">
  <main>
    <h1>
      <Image src={CCCLogo} width="200" alt="Cork climbing club" />
    </h1>
    <p>
      The new Cork Climbing Club website is under construction. Please check
      back soon.<br />Meanwhile, you can contact us at:
      <a href="mailto:corkclimbingclub@gmail.com">corkclimbingclub@gmail.com</a>
    </p>
  </main>
</Layout>

<style></style>
