.button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  background: rgba(205, 35, 49, 1);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  text-decoration: none;
}

.button:hover {
  background: rgba(205, 35, 49, 0.9);
}

.secondary {
  border: 1px solid #4caf4f;
  background-color: white;
  color: #cd2331;

  &:hover {
    background-color: #f0f0f0;
  }
}
